<div class="hero-unit">
     <h3>{{title}}</h3>
     <p>Welcome to {{title}}</p>
     <p class="hidden-phone hidden-tablet" style="float:right;position:relative;top:-150px; left:10px"><img src="/__beez_foundation__/img/logo.png" /></p>
     <p class="hidden-desktop" style="position:relative"><img src="/__beez_foundation__/img/logo.png" style="width:120px;height:100px"/></p>
</div>
<hr />
<ul class="nav nav-tabs nav-stacked">
  <li><a href="/m" alt="DirectoryIndex in Apache-based">Static file viewer</a></li>
  <li><a href="/o" alt="Command Operations">Command Operations</a></li>
</ul>
